<header>
  <div class='navigation'>
      <div class="navlink">
          <a href="#">Home</a>
      </div>
      <div class="navlink">
          <a href="#">Colors</a>
      </div>
      <div class="navlink">
          <a href="#">Cart</a>
      </div>
      <div class="navlink">
          <a href="#">Contact</a>
      </div>
  </div>
</header>